<!DOCTYPE html>
<html>
<head>
  <!--   stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' true  -->
  <!-- javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <!-- csrf_meta_tags %>-->
</head>

<body>

<% if @stories.empty? %>
    <h3><font color="red">No results found</font><br/></h3>
<% else %>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Point Value</th>
        <th>Stage</th>
        <th colspan="2">Options</th>
      </tr>
      </thead>

      <h3>Story search results</h3>
      <tbody>
      <% @stories.each do |story| %>
          <tr>
            <td><%= story.title %></td>
            <td><%= story.description%></td>
            <td><%= story.point_value%></td>
            <td><%= story.Stage%></td>
            <td><%= link_to 'Show', story %></td>
            <td><%= link_to 'Edit', edit_story_path(story) %></td>
          </tr>
      <% end %>
      </tbody>
<% end %>
</table>
</body>
</html>